@model ConfigIndexViewModel
@{
  ViewData["Title"] = "Configuration";
}
<div class="text-center">
  <h1 class="display-4">@ViewData["Title"]</h1>
  <h2>Providers</h2>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Provider</th>
      </tr>
    </thead>
    <tbody>
      @foreach (string? provider in Model.Providers)
      {
        <tr>
          <td>@provider</td>
        </tr>
      }
    </tbody>
  </table>
  <h2>Settings</h2>
  <div class="alert alert-primary" role="alert">
    <dl>
      <dt>Output caching logging level</dt>
      <dd>@Model.OutputCachingLoggingLevel</dd>
      <dt>Identity connection string</dt>
      <dd>@Model.IdentityConnectionString</dd>
    </dl>
  </div>
  <div class="alert alert-danger" role="alert">
    <dl>
      <dt>Site title</dt>
      <dd>@Model.Options.SiteTitle</dd>
      <dt>Pager size</dt>
      <dd>@Model.Options.PagerSize</dd>
    </dl>
  </div>
  <dl>
    @foreach (KeyValuePair<string, string?> setting in Model.Settings)
    {
      <dt>@setting.Key</dt>
      <dd>@setting.Value</dd>
    }
  </dl>
</div>
